body {
    font-family:Helvetica ;
}

label, p {
    font-size: 10pt;
}

h1 {
    font-size: 20pt;
    color: #ffffff;
    /* color: #0a5f94; */
}

h2 {
    font-size: 13pt;
}

h1,h2 {
    margin: 5px;
}

p {
    margin: 2px;
}


.border_blue {
    border: 2px solid #36a9e0;
    border-radius: 20px;
}

.border_green {
    border: 3px solid #76b72a;
    border-radius: 20px;
}

.background_green {
    background-color: #76b72a;
}

div {
    padding: 5px;
    margin: 5px;
}

.table_graph {
    width: 100%;
    height:700px;
}

.left {
    width: 20%;
    text-align: center;
    vertical-align: top;
}

.right {
    width: 80%;
    vertical-align: top;
}

#go {
    width: 75%;
    margin: 10px 0px;
}

#graph {
    display: grid;
    position: relative;
    height: 97%;
}

#cy {
    height: 500px;
    width: 95%;
}

#legend, .node_color, .node_size {
    padding: 1px;
    margin: 1px;
}

.flex{
    display: flex;
    align-items: center;
}

.legend-flex{
    display: flex;
    align-items: flex-start;
}


.node_color {
    width: 45%;
}

.node_size {
    width: 45%;
}

.legend-image {
    width: 95%;
}

.squares {
    display: flex;
    align-items: center;
}
    
.square {
    background: #9b9b9b; /* color of the squares */
    font-size: 10pt;
    display: flex;
    justify-content: center;    
    align-items: center;
}

#sq1 {
    width: 15px;
    height: 15px;
}

#sq2 {
    width: 20px;
    height: 20px;
}

#sq3 {
    width: 25px;
    height: 25px;
}

#sq4 {
    width: 30px;
    height: 30px;
}

#sq5 {
    width: 35px;
    height: 35px;
}







.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.border_black {

    border: 1.5px solid black;
    padding: 5px;

}

.table_black{
    width: 65%; 
    margin: 0 auto;
    table-layout: auto;
    border-collapse: collapse;
    height: 10px;
}




    
@media (max-width: 900px){ 
    .table_graph td {
        display: block;
    }

    .left ,
    .right {
        width: 100%;
    }
    }


@media (max-width: 650px){ 
    .legend-flex {
        display: block;
    }

    .node_color, 
    .node_size {
        width: 100%;
    }

}
