<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cytoscape</title>
    <link rel="stylesheet" href="./HTML/css/style.css">
    <script src="./cytoscape.min.js"></script>
</head>

<body>

    <div id="everything">

        <table border="0">
            <tr id="upper">
                <td class="left"></td>
                <td class="border_green">
                    <h2>Create network</h2>
                </td>
            </tr>
            <tr id="lower">
                <td class="left">
                    <div id="json_input_square" class="border_green">
                        <h2>JSON file input</h2>
                        <input type="file" class="left_button" value="Submit" id="json_input_file">
                    </div>
                    <div class="border_blue">
                        <h2>Parameters</h2>

                        <div class="border_green">
                            <label for="log_ratio">Log Ratio:</label>
                            <select id="log_ratio">
                                <option value="">--Please choose an option--</option>
                            </select>
                        </div>
                        
                        <div class="border_green">
                            <label for="p_values">P Values:</label>
                            <select id="p_values">
                                <option value="">--Please choose an option--</option>
                            </select>
                        </div>
                        
                        <div class="border_green">
                            <label for="abundance">Abundance:</label>
                            <select id="abundance">
                                <option value="">--Please choose an option--</option>
                            </select>
                        </div>
                        
                        <div class="border_green">
                            <label for="algorithm">Algorithm:</label>
                            <select id="algorithm">
                                <option value="">--Please choose an option--</option>
                            </select>
                        </div>
                        

                        <button id='go' class="left_button">Go</button>
                    </div>
                </td>
                <td class="right">
                    <div id="graph" class="border_blue">
                        <div id="cy"></div>
                    </div>
                <div id="legend" class="border_blue">
                    <h2>Legend</h2>
                    <div class="legend-flex">
                    <h4>Node Fill Color: </h4>
                    <img src="legend.png" alt="color gradient" class="legend-image">
                    <h4 class="node-size">Node Size: <span id="node-selction"></span></h4>
                    <div class="squares">
                        <div class="value" id="minValue"></div>
                        <div class="square sq1"></div>
                        <div class="square sq2"></div>
                        <div class="square sq3"></div>
                        <div class="square sq4"></div>
                        <div class="value" id="maxValue"></div>
                    </div>
                    
                </div>
                </div>

                    <div id="lower_buttons">
                        <div class="lower_button">
                            <button>JPEG Download</button>
                        </div>
                        <div class="lower_button">
                            <button>PDF Download</button>
                        </div>
                        <div class="lower_button">
                            <button>JSON Download</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

    <script type="module" src="index.js"></script>

    <!-- <script src="./HTML/js/index.js"></script> -->
    <script src="./HTML/js/menu.js"></script>

    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
</body>

</html>
