<!DOCTYPE html>

<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.0/cytoscape.min.js"></script>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<title>Compound nodes</title>
<link href="style.css" rel="stylesheet" type="text/css">
<!-- <script src="./cytoscape.min.js"></script> Tu mets le chemin vers cytoscape.min.js ici -->
</head>
<body>
<div id="cy" style="width: 100%; height: 100%;"></div>
<script type="module" src="index.js"></script> <!-- et ici tu mets ton fichier js -->
<!-- Cytoscape extention -->
<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

<!-- Jquery for graphml -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Other iVis-at-Bilkent libraries -->
<script src="https://unpkg.com/layout-base@1.0.2/layout-base.js"></script>
<script src="https://unpkg.com/avsdf-base/avsdf-base.js"></script>
<script src="https://unpkg.com/cose-base@1.0.3/cose-base.js"></script>
<script src="https://unpkg.com/cytoscape-graphml/cytoscape-graphml.js"></script>
<script src="https://raw.githack.com/iVis-at-Bilkent/cytoscape.js-layvo/unstable/cytoscape-layvo.js"></script>

<!-- CiSE Bundle -->
<script src="cytoscape-cise.js"></script>

</body>
</html>
